* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.anatomy-container {
    width: min(100%, 500px);
}

.musculo {
    cursor: pointer;
}

.musculo path {
    fill: black;
}

.musculo.seleccionado path {
    fill: red;
}